<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="assets/css/app.css">

    {% block head %}{% endblock %}

  </head>
  <body>

    {% block content %}{% endblock %}

    <script src="assets/js/app.js"></script>

    {% block javascript %}{% endblock %}
    
  </body>
</html>